{% extends "::base.html.twig" %}
{% block body %}
    <div class="panel panel-primary form-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Add Item</h3>
        </div>
        <div class="panel-body form-panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="input-group form-widget">
                {{ form_errors(form.category) }}
                {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <br>
            <div class="input-group form-widget">
                {{ form_errors(form.serial_no) }}
                {{ form_widget(form.serial_no, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <br>
            <div class="input-group form-widget">
                {{ form_errors(form.weight_g) }}
                {{ form_widget(form.weight_g, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <br>
            <div class="input-group form-widget">
                {{ form_errors(form.weight_mg) }}
                {{ form_widget(form.weight_mg, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <br>
            <div class="input-group form-submit-btn">
                {{ form_label(form.Save) }}
                {{ form_widget(form.Save, { 'attr': {'class': 'btn btn-primary'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="panel panel-primary table-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Existing Items</h3>
        </div>
        <div class="panel-body form-panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item Id</th>
                        <th>Category</th>
                        <th>Serial No.</th>
                        <th>Weight (g)</th>
                        <th>Weight (mg)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itemList %}
                        <tr>
                            <td>{{ item.getItemId }}</td>
                            <td>{{ item.getCategory.getCategoryName }}</td>
                            <td>{{ item.getSerialNo }}</td>
                            <td>{{ item.getWeightG }}</td>
                            <td>{{ item.getWeightMg }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
