{% extends "::base.html.twig" %}
{% block body %}
    <div class="panel panel-primary form-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Create Sale</h3>
        </div>
        <div class="panel-body form-panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="input-group form-widget">
                {{ form_label(form.sales_range) }}
                {{ form_errors(form.sales_range) }}
                {{ form_widget(form.sales_range, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <br>
            <div class="input-group form-widget">
                {{ form_label(form.category_name) }}
                {{ form_errors(form.category_name) }}
                {{ form_widget(form.category_name, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <br>
            <div class="input-group form-widget">
                {{ form_errors(form.date_from) }}
                {{ form_widget(form.date_from, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <br>
            <div class="input-group form-widget">
                {{ form_errors(form.date_to) }}
                {{ form_widget(form.date_to, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <br>
            <div class="input-group form-submit-btn">
                {{ form_label(form.Generate) }}
                {{ form_widget(form.Generate, { 'attr': {'class': 'btn btn-primary'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="panel panel-primary table-panel scrollable-table">
        <div class="panel-heading">
            <h3 class="panel-title">Sales Report</h3>
        </div>
        <div class="panel-body form-panel-body">
            {% if result!=null %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sales ID</th>
                            <th>Serial No.</th>
                            <th>Weight (g)</th>
                            <th>Weight (mg)</th>
                        <tr>
                    </thead>
                    {% for sales in result %}
                        <tr>
                            <td>{{ sales.getSalesId }}</td>
                            <td>{{ sales.getSerialNo}}</td>
                            {% if is_granted('ROLE_SUPER_ADMIN')==false %}
                                <td>{{ sales.getWeightG }}</td>
                                <td>{{ sales.getWeightMG}}</td>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN')%}
                                 {% set half_total=(sales.getWeightG*1000 + sales.getWeightMG)/2%}
                                  {% set half_g=half_total//1000 %}
                                  {% set half_mg=half_total%1000%}
                                  <td>{{ half_g }}</td>
                                  <td>{{ half_mg}}</td>                               
                            {% endif %}

                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        {% if sum_g !=null  %}
            <div class="panel-footer">Total Weight - {{sum_g}}g       {{sum_mg}}mg
                {#<div>230 </div>#}
            </div>
        {% endif %}
    </div>
{% endblock %}