{# empty Twig template #}
{% extends "::base.html.twig" %}
{% block body %}
    <div class="panel panel-primary form-panel">
        <div class="panel-heading">
            <h3 class="panel-title">View Logs</h3>
        </div>
        <div class="panel-body form-panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="input-group form-widget">
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
            </div>       
            <br>
            <div class="input-group form-submit-btn">
                {{ form_label(form.View) }}
                {{ form_widget(form.View, { 'attr': {'class': 'btn btn-primary'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="panel panel-primary table-panel">
        <div class="panel-heading">
            <h3 class="panel-title">User Logs</h3>
        </div>
        <div class="panel-body form-panel-body" id="item-table" >
            <div class="input-group form-widget">
                <input class="search form-control" placeholder="Filter Items" />
            </div>
            {% if result!=null %}
                <table class="table" >
                    <thead>
                        <tr>
                            <th> Action </th>
                            <th> Action ID</th>
                            <th> Date </th>
                            <th> Time</th>
                        <tr>

                    </thead>
                    <tbody class="list">
                        {% for log in result %}
                            <tr>
                                <td class="action">{{ log.getAction }}</td>
                                <td class="action_id">{{ log.getActionId}}</td>
                                <td class="date">{{ log.getDate|date('Y-m-d') }}</td>
                                <td class="time">{{ log.getDate|date('H:i:s')}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <script>
        var options = {
            valueNames: ['date', 'time', 'action', 'action_id']
        };
        var itemList = new List('item-table', options);
    </script>
{% endblock %}